{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}MySite{% endblock %}</title>
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body>
<header id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand d-flex flex-column align-items-center" href="{% url 'webapp:index' %}">
                <span>На главную</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% if request.user.is_authenticated %}
                    <span class="navbar-text"><a href="{% url 'accounts:detail' request.user.pk %}">Здравствуйте, {{ request.user }}!</a></span>
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="nav-link btn menu-button">Войти</a>
                    <a href="{% url 'accounts:create' %}" class="nav-link btn menu-button">Регистрация</a>
                {% endif %}
                <ul class="navbar-nav ml-5">
                    {% block menu %}{% endblock %}
                </ul>
            </div>
        </nav>
    </div>

</header>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src={% static "/js/jquery-3.4.1.min.js"%}></script>
<script src={% static "/js/popper.min.js"%}></script>
<script src={% static "/js/bootstrap.min.js"%}></script>
<script type="application/javascript" src="{% static "js/main.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
