{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:file_detail' file.pk %}">View</a></li>
{% endblock %}

{% block content %}
    <h1>Are you sure to delete {{ file }}?</h1>

    <form method="POST" action="{% url 'webapp:file_delete' file.pk %}" class="text-centre">
        {% csrf_token %}
        <p><input type="submit" value="Confirm" id="input"></p>
        <p><a href="{% url 'webapp:index' %}">Cancel</a></p>
    </form>

{% endblock %}