{% extends 'base.html' %}
{% block title %}{{ file.name }}{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ file.name }}</h1>
        {% if file.author %}
            <p class="card-text"><a href="{% url 'accounts:detail' file.author.pk %}">{{ file.author }}</a></p>
        {% else %}
            <p class="card-text">Aноним</p>
        {% endif %}
        <p class="card-text">{{ file.created_date }}</p>
        <p class="card-text" ><a href="{{ file.file.url }}">Download</a></p>
        <p><a href="{% url 'webapp:file_delete' file.pk %}" class="btn btn-primary">Delete</a></p>
        <p><a href="{% url 'webapp:file_update' file.pk %}" class="btn btn-primary">Edit</a></p>
    </div>
{% endblock %}
