{% extends 'base.html' %}
{% block title %}{{ file.name }}{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ file.name }}</h1>
        {% if file.author %}
            <p class="card-text"><a href="{% url 'accounts:detail' file.author.pk %}">{{ file.author }}</a></p>
        {% else %}
            <p class="card-text">Aноним</p>
        {% endif %}
        <p class="card-text">{{ file.created_date }}</p>
        <p class="card-text">{{ file.type }}</p>
        <p class="card-text" ><a href="{{ file.file.url }}">Download</a></p>
        {% if perms.webapp.delete_file or file.author == request.user %}
            <p><a href="{% url 'webapp:file_delete' file.pk %}" class="btn btn-primary">Delete</a></p>
        {% endif %}
        {% if perms.webapp.change_file or file.author == request.user%}
            <p><a href="{% url 'webapp:file_update' file.pk %}" class="btn btn-primary">Edit</a></p>
        {% endif %}
    </div>
    <div class="text-center">
    <h1>Users in private group</h1>
        {% if file.type == 'private' %}
            {% for user in file.private_group.all %}
                <p><a href="{% url 'accounts:detail' user.pk %}">{{ user }}</a></p>
            {% empty %}
                <p>No users yet</p>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
